body {
background-color:white;
margin: 0;
padding: 0;
height: 100%;
font-family: 'Didact Gothic';
color: #333;
background-size: cover;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
-webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
user-drag: none;
}

.banner {
display: block;
width: 100%;
pointer-events: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
-webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


a.buttonKasuwa{
display:inline-block;
padding:2em;
margin:2em;
border:0.0em solid rgba(255,255,255,0);
border-radius: 2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
text-align:center;
background-color: #767;
width: 13em;
height: 13em;
-webkit-box-shadow: 6px 6px 38px 2px rgba(0,0,0,0.37);
-moz-box-shadow: 6px 6px 38px 2px rgba(0,0,0,0.37);
box-shadow: 6px 6px 38px 2px rgba(0,0,0,0.37);
background-image: url(images/kasuwa2.jpg);
background-size: 100% 100%;
transition-duration: 0.6s;


}
a.buttonKasuwa:hover{
border-color: #fff;
transition-duration: 0.6s;
-webkit-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.33);
-moz-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.33);
box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.33);

}



a.buttonEtsy{
display:inline-block;
padding:2em;
margin:2em;
border:0.0em solid rgba(255,255,255,0);
border-radius: 2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
text-align:center;
background-color: #767;
width: 13em;
height: 13em;
-webkit-box-shadow: 6px 6px 38px 2px rgba(0,0,0,0.37);
-moz-box-shadow: 6px 6px 38px 2px rgba(0,0,0,0.37);
box-shadow: 6px 6px 38px 2px rgba(0,0,0,0.37);
background-image: url(images/etsy2.jpg);
background-size: 100% 100%;
transition-duration: 0.6s;
}
a.buttonEtsy:hover{
border-color: #fff;
transition-duration: 0.6s;
-webkit-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.33);
-moz-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.33);
box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.33);
}


}

.buttonDiv {
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.greyBox {
padding: 15px;
font-size: 18px;
color: #333;
background-color: rgba(0, 0, 0, 0.03);
margin-top: 1em;
-webkit-border-radius: 0px 0px 6px 6px;
-moz-border-radius: 0px 0px 6px 6px;
border-radius: 2em;
width: 60vw;

}

.menuButton{

	font-size: 25px;
	background-color: rgba(0, 0, 0, 0.21);
	color: #d9ceba;
	padding: 20px;
	width: 12em;
	text-align: center;
	-webkit-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.17);
-moz-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.17);
box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.17);

}

.menuButton2{

	font-size: 25px;
	background-color: rgba(0, 0, 0, 0.26);
	color: #d9ceba;
	padding: 20px;
	width: 12em;
	text-align: center;
	-webkit-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.17);
-moz-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.17);
box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.17);
}

.menuButton:hover {
		background-color: rgba(0, 0, 0, 0.18);
	
}

.menuButton2:hover {
		background-color: rgba(0, 0, 0, 0.23);
	
}

.container5{
	width: 100%;

	display: flex;
flex-direction: row;
	transform: translate(0px, -7em);
	margin-bottom: -5em;
	
}





.container2{

	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-content: space-around;
	flex-flow: wrap;
	justify-content: center;
}

.masterbox{
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 30px;
	-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
-webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.box2{
	width: 300px;
	height: 300px;
	background: transparent;
	box-sizing: border-box;
	border-radius: 1em;
	cursor: pointer;
	transition: .5s ease;
	
	-webkit-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.18);
-moz-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.18);
box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.18);


}

.box2:hover {
transition: .5s ease;
-webkit-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.38);
-moz-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.38);
box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.38);
}



.box3{
	width: 22em;
	height: 22em;
	background: green;
	margin: 50px;
	box-sizing: border-box;
	border-radius: 1em;
	cursor: pointer;

	transition: .6s ease;
}

.overlay {

  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 1); /* Black see-through */
  color: #f1f1f1; 
  width: 22em;
  height: 22em;
  vertical-align: middle;

  transition: .3s ease;
  opacity:1;
  
  color: white;
  font-size: 25px;
  
  text-align: center;
	-webkit-backdrop-filter: blur(8px) brightness(1.2);
	backdrop-filter: blur(8px) brightness(1.2);
}





.box3:hover {
transition: .6s ease;
-webkit-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.33);
-moz-box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.33);
box-shadow: 6px 6px 38px 20px rgba(0,0,0,0.33);
}



footer {
position:relative;
display:table-cell;
vertical-align:middle;
width:100vw;
height:5em;
background-color: #333;
text-align:center;
color: #bbb;

}


